body { 
  background-color: #FFFDD0; 
} 

h1 { 
  color: #FFDB58; 
  <link href='https://fonts.googleapis.com/css?family=Archivo Black' rel='stylesheet'>
  font-family: 'Archivo Black'; font-size: 20px; 
} 
